<h2>List of rooms</h2>

<table>
  <tr>
    <th>Building</th>
    <th>Room Number</th>
    <th>Seats</th>
    <th>Projector present?</th>
  </tr>

  @for (room of rooms; track room.id) {
    <tr (click)="onRoomSelection(room)" [class.selected]="room === selectedRoom">
      <td>{{ room.building }}</td>
      <td>{{ room.roomNumber }}</td>
      <td>{{ room.seats }}</td>
      <td>{{ room.projectorPresent }}</td>
    </tr>
  }
</table>
<button (click)="onAdd()">Add</button>
<button (click)="onEdit()" [disabled]="!selectedRoom">Edit</button>
<button (click)="onDelete()" [disabled]="!selectedRoom">Delete</button>
